<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Places</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>places and its ratings</h1>
    <table>
        <p>places and its tables:</p>
            
        <thead>
            <th>id</th>
            <th>places</th>
            <th>ratings</th>
        </thead>
         
            <tbody>
                <tr>
                    {% for i in p %}
                    <p><strong>{{i.id}}</strong>
                        <strong>{{i.places}}</strong>
                        <strong>{{i.rating}}</strong></p>
                    {% endfor %}
                    </tr>
            </tbody>
    </table>
</body>
</html>